/* 添加用户弹出层CSS */
body {
	overflow: hidden;
}
/* 隐藏添加用户栏 */
.index-callbackGrid-addcallback-content {
	margin-top: 20px;
}
/* 输入信息单行样式 */
.index-callbackGrid-addcallback-content .basicInfo {
	padding-left: 22px;
	color: #6a8ad4;
	margin-top: -15px;
}

.index-callbackGrid-addcallback-content table.add-container {
	width: 90%;
	margin: 20px auto 0;
	border-top: 1px solid #ddd;
}

/* 表格中技术td */
.index-callbackGrid-addcallback-content table.add-container tr td:nth-of-type(odd)
	{
	width: 10%;
	text-align: right;
}

.index-callbackGrid-addcallback-content .add-container tr td:nth-of-type(even)
	{
	width: 20%;
}
.index-callbackGrid-addcallback-content label {
	margin-right: 10px;
	color: #444;
	user-select: none;
}

input[type="text"],.add-container-list {
	border: 0.125em solid #ddd;
	border-radius: 4px;
	padding-left: 8px;
	margin: 15px 0;
	    width: 95%;
	height: 34px;
}

/* 回访记录框内内容 */
.callback-content {
	width: 90%;
	margin: 0 auto;
	padding: 0 7px;
}

.callback-content-container {
	width: 100%;
	height: 120px;
	border-radius: 5px;
	margin-top: 15px;
	border-color:#ddd;
}
/* 提交按钮 */
.index-callbackGrid-addcallback-content>.submit {
	text-align: center;
	margin: 33px;
}

.index-callbackGrid-addcallback-content>.submit .btnSave {
	width: 100px;
	background-color: #0079be;
	border: none;
	font-size: 16px;
	color: #fff;
	height: 31px;
	letter-spacing: 3px;
	line-height: 12px;
	border-radius: 15px;
	text-align: center;
	cursor: pointer;
}

.index-callbackGrid-addcallback-content>.submit .btnSave:focus {
	border: none;
	outline: none;
}
/* 错误提示 */
.errTips {
	position: relative;
	float: right;
	color: red;
	font-size: .9em;
	margin: -2.2em 0 0 0;
	opacity: 0;
	transition: all 250ms;
	filter: alpha(opacity =                             0);
}
/* 显示错误提示 */
.showErrorTips {
	opacity: 1;
	margin: -1.7em 1em 0 0;
	position: relative;
	z-index: 5;
	background-color: #fff;
	padding: 0 0 0 .5em;
}

/*灰色占位符*/
.placeholder {
	position: absolute;
	top: .6em;
	left: 3.4em;
	color: darkgray;
	display: none; /*所有浏览器隐藏*/
	display: block\0; /*css hack确保IE8~IE11显示*/
	/*到目前位置，在CH和FF下被隐藏*/
}