<!doctype html>
<html>
<head>
<base href="<%=basePath%>">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>开通账户</title>
<link rel="stylesheet" href="__CSS__/common/font-awesome.css" />
<link rel="stylesheet" href="__CSS__/common/jquery-ui.css" />
<link rel="stylesheet" href="__CSS__/common/Common.css" />
<link rel="stylesheet" href="__CSS__/sub/Tips.css" />
<link rel="stylesheet" href="__CSS__/sub/DropDownList.css" />
<link rel="stylesheet" href="__CSS__/dialog/AddStu.css" />
</head>
<body>
	<span id="schoolId" class="hidden"><%=schoolId %></span>
	<span id="userId" class="hidden"><%=userId %></span>
	<div class="index-stuGrid-addstu-content">
		<div class="basicInfo">基本信息</div>
		<table class="add-container" cellspacing="0" cellpadding="0">
			<tbody>
				<tr>
					<td><label for="consult-time">咨询日期</label></td>
					<td><input type="text" id="consult-time" class="add-container-list"/><span class="errTips"></span></td>
					<td><label for="txtName" class="word-space">姓名</label></td>
					<td><input class="needErr" id="txtName" type="text" placeholder="请输入姓名"/><span class="errTips"></span></td>
					<td><label for="select-gender" class="word-space">性别</label></td>
					<td><div id="select-gender" class="add-container-list"></div></td>
				</tr>
				<tr>
					<td><label for="select-edu" class="word-space">学历</label></td>
					<td><div id="select-edu" class="add-container-list"></div></td>
					<td><label for="select-stuState">目前状态</label></td>
					<td><div id="select-stuState" class="add-container-list"></div></td>
					<td><label for="wechat" class="word-space">微信</label></td>
					<td><input class="needErr" id="wechat" type="text" /><span class="errTips"></span></td>
				</tr>
				<tr>
					<td><label for="txtMobile">联系电话</label></td>
					<td><input class="needErr" id="txtMobile" type="text" placeholder="请输入电话" maxlength="11" validate="n" autocomplete="off" /><span class="errTips"></span></td>
					<td><label for="location" class="word-space">省市</label></td>
					<td><input id="location" type="text" /></td>
					<td><label for="qq" class="word-space">QQ</label></td>
					<td><input class="needErr" id="qq" type="text" /><span class="errTips"></span></td>
				</tr>
				<tr>
					<td><label for="infoSource">信息来源</label></td>
					<td><div id="infoSource" class="add-container-list"></div></td>
					<td><label for="select-online">在线咨询</label></td>
					<td><div id="select-online" class="add-container-list"></div></td>
					<td><label for="select-courseCon">课程顾问</label></td>
					<td><div id="select-courseCon" class="add-container-list"></div></td>
				</tr>
				<tr>
					<td><label for="first-vist-time">上门时间</label></td>
					<td><input type="text" id="first-vist-time" class="add-container-list"/><span class="errTips"></span></td>
					<td><label for="register-time">报名时间</label></td>
					<td><input type="text" id="register-time" class="add-container-list"/><span class="errTips"></span></td>
					<td><label for="select-course">报名课程</label></td>
					<td><div id="select-course" class="add-container-list"></div></td>
				</tr>
				<tr>
					<td><label for="register-amount">报名金额</label></td>
					<td><input class="needErr" id="register-amount" type="text"/><span class="errTips"></span></td>
					<td><label for="visit-state">访问状态</label></td>
					<td><div id="visit-state" class="add-container-list"></div></td>
					<td><label for=""></label></td>
					<td></td>
				</tr>
			</tbody>
		</table>
		<div class="submit">
			<input id="btnSave" class="btnSave" type="button" value="提交" />
		</div>

	</div>
<script src="__JS__/common/jquery-1.12.0.js" type="text/javascript"></script>
<script src="__JS__/common/jquery-ui.min.js" type="text/javascript"></script>
<script src="__JS__/common/util.js" type="text/javascript"></script>
<script src="__JS__/sub/DropDownList.js" type="text/javascript"></script>
<script src="__JS__/sub/Tips.js" type="text/javascript"></script>
<script src="__JS__/dialog/AddStu.js"></script>
</body>
</html>