<!doctype html>
<html lang="ch">
<head>
<base href="<%=basePath%>">
<meta charset="UTF-8" />
<title>直尚电竞CRM管理系统</title>
<link rel="icon" href="__IMAGE__/favicon.ico" type="image/x-icon">
<link rel="stylesheet" href="__CSS__/common/font-awesome.css" />
<link rel="stylesheet" href="__CSS__/common/Common.css" />
<link rel="stylesheet" href="__CSS__/dialog/DeleteConfirm.css" />
<link rel="stylesheet" href="__CSS__/sub/Dialog.css" />
<link rel="stylesheet" href="__CSS__/sub/Menu.css" />
<link href="__CSS__/page/Index.css" rel="stylesheet">
</head>
<body>
	<div class="userName hidden"><%=userName%></div>
	<div class="schoolName hidden"><%=schoolName%></div>
	<table class="main" cellspacing="0" cellpadding="0">
		<tr>
			<!-- 导航栏 -->
			<td colspan="2">
				<div class="nav">
					<ul class="nav-row">
						<li class="nav-logo"><img src="__IMAGE__/logo.png" alt="logo" /></li>
						<li class="nav-title">CRM管理系统</li>
						<li id="btnUser" class="btnUser"><label for="btnUser"> <i class="fa fa-user-o"></i> </label> <a href="javascript:;">{:session('user_info.user_name')}</a> <span class="user_more" id="userMore"></span>
							<ul class="ddl" id="showDdl">
								<li>
									<div id="resetData">
										<i class="fa fa-address-card"></i>修改资料
									</div>
								</li>
								<li>
									<div id="loadIndex">
										<i class="fa fa-compass"><a href="{:url('index/user/Logagain')}"></i>重新登录
									</div>
								</li>
								<li>
									<div id="btnExit">
										<i class="fa fa-power-off"><a href="{:url('index/user/logout')}"></i>退出
									</div>
								</li>
							</ul></li>
					</ul>
				</div></td>
		</tr>
		<tr>
			<!-- 左侧菜单栏 -->
			<td>
				<div class="menuContainer">
					<div class="menuTop"></div>
					<div id="leftMenu" class=""></div>
				</div></td>
			<!-- 右侧嵌套页面 -->
			<td>
				<div id="rightContent">
					<iframe id="mainIframe" src="http://www.test.com/admin/IndexCharts/index" frameborder="0"></iframe>
				</div></td>
		</tr>
	</table>
	<div id="dialog"></div>
	<script src="__JS__/common/jquery-1.12.0.js" type="text/javascript" ></script>
	<script src="__JS__/common/util.js" type="text/javascript" ></script>
	<script src="__JS__/sub/Dialog.js" type="text/javascript" ></script>
	<script src="__JS__/sub/Tips.js" type="text/javascript" ></script>
	<script src="__JS__/sub/Menu.js" type="text/javascript" ></script>
	<script src="__JS__/page/Index.js" type="text/javascript" ></script>
</body>
</html>