/* body {
	overflow: hidden;
} */
.dialog {
	position: absolute;
	top: 50%;
	left: 50%;
	background-color: white;
	width: 400px;
	z-index: 100;
	box-shadow: 0.4em 1em 1em 0.1em #524c4c;
}
/* 标题 */
.dialog .titleTxt {
	font-size: 16px;
	color: #6a8ad4;
	margin: 7px 15px;
	padding-left: 5px;
	border-left: 2px solid #6a8ad4;
	font-weight: 500;
}


.dialogMask {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 0.2;
	z-index: 34;
}
/* 关闭图标 */
.btnClose {
	position: absolute;
	right: 5px;
	top: 5px;
	width: 32px;
	height: 32px;
	cursor: pointer;
	background: url(../../images/icon_sprite@2x.png) no-repeat;
	background-position: -319px -239px;
}

.btnClose:hover {
	transform: scale(1.1);
}


iframe {
	width: 100%;
}
/* 错误提示 */
.errTips {
	color: red;
	font-size: .9em;
	opacity: 0;
	transition: all 250ms;
	position: absolute;
	right: -4em;
	top: 0.7em;
}
/* 显示错误提示 */
.showErrorTips {
	opacity: 1;
	padding: 0 0 0 .5em;
	background-color: #fff;
	position: absolute;
	margin-right: 6em;
}

.btnError {
	border: .125em solid #ff1404 !important;
}
/*灰色占位符*/
.placeholder {
	position: absolute;
	top: 0.6em;
	left: 3.1em;
	color: darkgray;
	display: none; /*所有浏览器隐藏*/
	display: block\0; /*css hack确保IE8~IE11显示*/
	/*到目前位置，在CH和FF下被隐藏*/
}

/*在IE10以上版本中隐藏灰色占位符，最终只在IE8/IE9中显示*/
@media screen and(-ms-high-contrast:active) , ( -ms-high-contrast :none)
	{
	.placeholder {
		display: none; /*仅仅针对IE10以上版本生效*/
	}
}
