.tips {
	position: absolute;
    left: 50%;
    transition: all 250ms;
    z-index: 2000;
    padding: .5em 1.5em;
    top: 50%;
    border-radius: .3em;
}

.rightTips {
	background-color: #5171b9 !important;
	color: #fff;
}

.errorTips {
	background-color: #f1457f ;
	color: #fff;
}