<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>数据搜索</title>
    <link rel="stylesheet" href="__CSS__/common/font-awesome.css" />
    <link rel="stylesheet" href="__CSS__/common/jquery-ui.css" />
    <link rel="stylesheet" href="__CSS__/sub/DropDownList.css" />
    <link rel="stylesheet" href="__CSS__/sub/Grid.css" />
    <link rel="stylesheet" href="__CSS__/sub/Tips.css" />
    <script src="__JS__/common/jquery-1.12.0.js" type="text/javascript"></script>
    <script src="__JS__/common/highcharts.js" type="text/javascript"></script>
    <script src="https://img.hcharts.cn/highcharts/modules/exporting.js"></script>
    <script src="https://img.hcharts.cn/highcharts/modules/variable-pie.js"></script>
    <script src="__JS__/common/jquery-ui.min.js" type="text/javascript"></script>
    <link href="__CSS__/common/Common.css" rel="stylesheet">
    <script src="__JS__/common/util.js" type="text/javascript"></script>
    <script src="__JS__/sub/DropDownList.js" type="text/javascript"></script>
    <script src="__JS__/sub/Grid.js" type="text/javascript"></script>
    <script src="__JS__/sub/Tips.js" type="text/javascript"></script>
    <link href="__CSS__/grid/AdmissionsGrid.css" rel="stylesheet" />
    <script src="__JS__/grid/AdmissionsGrid.js"></script>
    <link href="__CSS__/grid/IndexCharts.css" rel="stylesheet" />
    <script src="__JS__/grid/IndexCharts.js"></script>
    <link href="__CSS__/grid/UserGrid.css" rel="stylesheet">
    <script src="__JS__/grid/UserGrid.js"></script>
    <style>
        .f {
            color: white;
            background-color: #E91E63;
            padding: .1em 0.5em;
        }

        .m {
            color: white;
            background-color: #2196F3;
            padding: .1em .4em;
        }

        .f,.m {
            border-radius: 0.2em;
        }
    </style>

</head>