{include file="public/meta" /}
<body>
	<div class="admissionsGrid-body">
		<div class="admissionsGrid-body-top">
			<span>口碑招生-</span> <span>{$school_name}</span>
		</div>
		<div class="acount-search">数据搜索</div>
		<table class="search-container">
			<tbody>
				<tr>
					<td><label for="txtStu">姓名</label>
					</td>
					<td><input id="txtStu" type="text" placeholder="请输入用户名" maxlength="20" minlen="6" validate="en_" autocomplete="on" />
					</td>
					</td>
					<td><label for="select-channel">渠道</label></td>
					<td><div id="select-channel" class="search-container-list"></div></td>
					<td><label for="txtMobile">电话</label></td>
					<td><input id="txtMobile" type="text" placeholder="请输入电话" maxlength="11" validate="n" autocomplete="off" /></td>
					<td><label for="txtOnline">在线咨询师</label></td>
					<td><div id="select-online" class="search-container-list"></div></td>
				</tr>
				<tr>
					<td><label for="select-edu">学历</label></td>
					<td><div id="select-edu" class="search-container-list"></div>
					</td>
					<td><label for="select-stuState">学员状态</label></td>
					<td><div id="select-stuState" class="search-container-list"></div>
					</td>
					<td><label for="select-stuAtt">学员意向</label></td>
					<td><div id="select-stuAtt" class="search-container-list"></div>
					</td>
					<td><label for="select-courseCon">课程顾问</label></td>
					<td><div id="select-courseCon" class="search-container-list"></div>
					</td>
				</tr>
				<tr>
					<td><label for="">咨询日期</label></td>
					<td><input type="text" id="startDate" name="date" />
					</td>
					<td><label>至</label></td>
					<td><input type="text" id="endDate" name="date" /></td>
				</tr>
			</tbody>
		</table>
		<div class="act">
			<button class="select" id="btnSearch">
				<i class="fa fa-search"></i> 查询
			</button>
			<button class="reset" id="btnReset">
				<i class="fa fa-refresh"></i> 重置
			</button>
		</div>
		<div class="addContainer">
			<a href="javascript:;" class="add" id="btnAdd">录入学生</a>
		</div>
		<div class="list-title">
			<span>学员信息列表</span>
			<div class="del-update">
				<button class="addRecord" id="btnAddRecord">
					<i class="fa fa-plus"></i> 添加回访记录
				</button>
				<!-- <button class="delete" id="btnDel">
					<i class="fa fa-trash-o"></i> 删除
				</button> -->
				<button class="update" id="btnEdit">
					<i class="fa fa-pencil-square-o"></i> 编辑
				</button>
			</div>
		</div>
		<div id="myTableAdmissions" class="myTableAdmissions"></div>
		<div id="myTableCallback" class="myTableCallback hidden"></div>
	</div>
</body>
</html>